# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test
.npmrc

# generated output
dist
/angular.json
.github/release-notes.md

# test output
playwright-report
test-results
playwright/.cache

# kind for examples
kind-kubeconfig
